<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rsa.dao.RsaInfoMapper" >
  <resultMap id="BaseResultMap" type="com.rsa.bean.RsaInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="channel_code" property="channelCode" jdbcType="VARCHAR" />
    <result column="channel_name" property="channelName" jdbcType="VARCHAR" />
    <result column="channel_info" property="channelInfo" jdbcType="VARCHAR" />
    <result column="public_key" property="publicKey" jdbcType="VARCHAR" />
    <result column="private_key" property="privateKey" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="domain_name" property="domainName" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="remark1" property="remark1" jdbcType="VARCHAR" />
    <result column="remark2" property="remark2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, channel_code, channel_name, channel_info, public_key, private_key, ip, domain_name, 
    is_del, create_date, update_date, remark, remark1, remark2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mt_rsa_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mt_rsa_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rsa.bean.RsaInfo" >
    insert into mt_rsa_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="channelCode != null" >
        channel_code,
      </if>
      <if test="channelName != null" >
        channel_name,
      </if>
      <if test="channelInfo != null" >
        channel_info,
      </if>
      <if test="publicKey != null" >
        public_key,
      </if>
      <if test="privateKey != null" >
        private_key,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="domainName != null" >
        domain_name,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="remark1 != null" >
        remark1,
      </if>
      <if test="remark2 != null" >
        remark2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelInfo != null" >
        #{channelInfo,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null" >
        #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null" >
        #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="domainName != null" >
        #{domainName,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        #{remark2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rsa.bean.RsaInfo" >
    update mt_rsa_info
    <set >
      <if test="channelCode != null" >
        channel_code = #{channelCode,jdbcType=VARCHAR},
      </if>
      <if test="channelName != null" >
        channel_name = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelInfo != null" >
        channel_info = #{channelInfo,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null" >
        public_key = #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null" >
        private_key = #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="domainName != null" >
        domain_name = #{domainName,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="remark1 != null" >
        remark1 = #{remark1,jdbcType=VARCHAR},
      </if>
      <if test="remark2 != null" >
        remark2 = #{remark2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 查询所有  -->
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from mt_rsa_info where is_del = '0'
  </select>
  
  <!-- 根据条件查询  -->
  <select id="selectByParam" resultMap="BaseResultMap" parameterType="com.rsa.bean.RsaInfo" >
    select 
    <include refid="Base_Column_List" />
    from mt_rsa_info
    where 1=1
    <if test="channelCode != null and channelCode != '' " >
      and channel_code = #{channelCode,jdbcType=VARCHAR}
    </if>
    <if test="channelName != null and channelName != '' " >
      and channel_name like #{channelName,jdbcType=VARCHAR}
<!--       and C_BANKNAME like '%${cBankname}%' -->
    </if>
    <if test="channelInfo != null and channelInfo != '' " >
      and channel_info = #{channelInfo,jdbcType=VARCHAR}
    </if>
    <if test="publicKey != null and publicKey != '' " >
      and public_key = #{publicKey,jdbcType=VARCHAR}
    </if>
    <if test="privateKey != null and privateKey != '' " >
      and private_key = #{privateKey,jdbcType=VARCHAR}
    </if>
    <if test="ip != null and ip != '' " >
      and ip = #{ip,jdbcType=VARCHAR}
    </if>
    <if test="domainName != null and domainName != '' " >
      and domain_name = #{domainName,jdbcType=VARCHAR}
    </if>
    <if test="isDel != null and isDel != '' " >
      and is_del = #{isDel,jdbcType=VARCHAR}
    </if>
    <if test="createDate != null" >
      and create_date = #{createDate,jdbcType=TIMESTAMP}
    </if>
    <if test="updateDate != null" >
      and update_date = #{updateDate,jdbcType=TIMESTAMP}
    </if>
    <if test="remark != null" >
      and remark = #{remark,jdbcType=VARCHAR}
    </if>
    <if test="remark1 != null" >
      and remark1 = #{remark1,jdbcType=VARCHAR}
    </if>
    <if test="remark2 != null" >
      and remark2 = #{remark2,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>